@use '../../../styles/variables.scss';

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-centralized{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .logo-container{
        height: 7rem;
    }

    .main-section{
        flex: 1;
        background-color: variables.$background;
        display: flex;
        justify-content: center;

        img{
           width: 42rem;
           margin-bottom: 5rem;
        }
    }

    .form-section{
        flex: 0.3;
        padding: 0 2rem;
        background-color: variables.$verdinho;
        
        img {
            max-width: 300px;
        }

        .container-centralized{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
        .text-container{
            font-size: 1.8rem;
            font-weight: 500;
            max-width: 15rem;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;

            form{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                label{
                    font-weight: 500;
                }

                input{
                    padding: 0.7rem;
                    width: 20rem;
                    border: 1px solid variables.$secondary-color;
                    border-radius: 0.4rem;
                    margin-bottom: 0.3rem;
                    background-color: white;

                    &::placeholder {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .name-container{
                gap: 0.2rem;
            }

            .email-container{
                gap: 0.2rem;
            }

            .confirm-password-container{
                gap: 0.2rem;
            }

            .password-container{
                gap: 0.2rem;

                .forgot-password{
                    text-decoration: underline;
                    font-size: 0.8rem;
                    cursor: pointer;
                    text-align: end;
                }
            }
        }

        button{
            cursor: pointer;
            margin: 0.6rem 0;
        
            &.register-button{
                background-color: variables.$secondary-color;
                color: white;
                padding: 0.7rem 1rem;
                border-radius: 0.4rem;
                width: 20rem;
                border: none;
            }
        }

        .login-link{
            text-decoration: underline;
            color: variables.$secondary-color;
            cursor: pointer;
        }
    }
}

