@use '../../../styles/variables.scss';

.form-container {
    display: flex;
    align-items: center;
    padding: 20rem;

}

input {

    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}

.button-wrapper {
    margin-right: 0.5rem;
    padding-bottom: 0.2rem;
    margin-top: 0.3rem;

    .button-create {
        background-color: variables.$secondary-color;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: #14532d;
        }
    }
}

.form-wrapper {
    padding: 0.5rem;
}