
    <main>
        <div class="container-user-data">

            <section class="menu-container">
                <div class="menu-container-wrapper">
                    <app-side-menu></app-side-menu>
                </div>
            </section>


            <section class="main-container">
                <div class="container-user-data-main">

                    <div class="title-wrapper">
                        <h1>Dados do Usuário</h1>
                    </div>
                    <div class="container-user-data-wrapper">


                        <div class="form-container">
                            <form [formGroup]="dataUserForm">

                                 <div class="password-container">
                                    <label for="name">Nome do usuário</label>
                                    <input type="text" formControlName="name">
                                </div>


                                <div class="email-container">
                                    <label for="email">Email</label>
                                    <input type="email" formControlName="email">
                                </div>

                            </form>
                        </div>

                        <div class="form-container">

                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

                                <div class="email-container">
                                    <label for="currentPassword">Senha atual</label>
                                    <input type="password" formControlName="currentPassword">
                                </div>


                                <div class="password-container">
                                    <label for="newPassword">Nova senha</label>
                                    <input type="password" formControlName="newPassword">
                                </div>

                                <div class="email-container">
                                    <label for="confirmPassword">Confirmar senha</label>
                                    <input type="password" formControlName="confirmPassword">
                                </div>


                                <div class="button-container gap-1 flex flex-col items-center">
                                    <button type="submit" class="login-button">Alterar senha</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </main>
