<main>
    <div class="container-user-data">

      <section class="menu-container">
        <div class="menu-container-wrapper">
          <app-side-menu></app-side-menu>
        </div>
      </section>

  
      <section class="main-container">
        <div class="container-user-data-main">
          <div class="container-user-data-wrapper">
            

            <div class="form-container">
                Dados do Usuário

                <form >

                    <div class="email-container">
                        <label for="email">Email</label>
                        <input type="text" placeholder="Digite seu email" formControlName="email">
                    </div>
                    

                    <div class="password-container">
                        <label for="password">Senha</label>
                        <input type="password" placeholder="Digite sua senha" formControlName="password">
                        <span class="forgot-password">Esqueceu sua senha?</span>
                    </div>
                    
                </form>
            </div>

          </div>
        </div>
      </section>
    </div>
  </main>
  