@use '../../../styles/variables.scss';


.menu-container{
    flex: 0.25;
    background-color: variables.$secondary-color;
    color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.main-container{
    flex: 1;
    
    section{
        min-height: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.container-home-main{
    width: 100%;
}

.container-home{
    min-height: 92vh;
    width: 100%;
    margin: 0.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    background-color: white;
}



.texto-container{
    padding: 2rem 0 0 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.container-home-wrapper{
    min-height: 100vh;
    background-color: variables.$background;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-title{
    color: variables.$secondary-color;
    font-size: 2rem;
    font-weight: 700;
}

.menu-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: variables.$secondary-color;
}


.logo-container{
    width: 15rem;
}

.ver-nome{
    padding: 2.5rem 3rem 2rem 3rem;
    display: flex;
    align-items: center;
}

.form-container{
    display: flex;
    align-items: center;
}

.modal-form{
    padding: 1rem;
    border-radius: 1.5rem;
    white-space: nowrap;
    background-color: variables.$secondary-color;
    font-weight: 500px;

}

.p-container{
    font-size: 1.5rem;
    font-weight: 400;
}

.ver-nome-2{
    background-color: variables.$secondary-color; 
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    width: 15.2rem;
}