@use '../../../styles/variables.scss';

.loading-spinner {
    background: rgba(0, 0, 0, 0.15);
}

.table-container {
    margin-top: 3rem;
    
    
    .table-service{
       border: none;
    }
    
    th{
        padding: 1rem 0;
        text-align: center;
    }
    td{
        padding: 1rem 0;
        text-align: center;
    }
}
.form-container{
    display: flex;
    align-items: center;
}

.modal-form{
  padding: 1rem;
  border-radius: 1.5rem;
  white-space: nowrap;
  background-color: variables.$secondary-color;
  font-weight: 500px;
}

.status-container{
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    height: 2rem;
}