@use '../../../styles/variables.scss';

.loading-spinner {
    background: rgba(0, 0, 0, 0.15);
}

.table-container {
    margin-top: 3rem;
    
    
    .table-service{
       border: none;
    }
    
    th{
        padding: 1rem 0;
        text-align: center;
    }
    td{
        padding: 1rem 0;
        text-align: center;
    }
    
    
}
